<div class="container-fluid" style="width: 80%; background-color: #d9d9d9; padding: 10px;">
    <h1>CSE 412</h1>
    <div class="container-fluid" style="margin-bottom: 5px">
        <div class="row">
          <div class="col-md-6" style="background-color: #fff; border-right-style: solid; border-width: .7px; border-color: #d9d9d9">
            <canvas id="avgChart" style="height:600px"></canvas>
          </div>
          <div class="col-md-6" style="background-color: #fff; border-left-style: solid; border-width: .7px; border-color: #d9d9d9">
            <canvas id="countChart" style="height:600px"></canvas>
          </div>
        </div>
        <style>
            .form-group {
                margin-bottom: 5px;
            }
            body {
                background-color: #e6e6e6
            }
        </style>
        <div class="row" style="margin-top:20px">
            <div class="col-md-6">
                <form method="post" action="/count" id="controls">
                    <div class="form-group row">
                        <label for="lower" class="col-sm-5 col-form-label" style="text-align: right">Average Rating Lower:</label>
                        <input type="text" id="lower" name="lower" class="form-control col-sm-7">
                    </div>
                    <div class="form-group row">
                        <label for="upper" class="col-sm-5 col-form-label" style="text-align: right">Average Rating Upper:</label>
                        <input type="text" id="upper" name="upper" class="form-control col-sm-7">
                    </div>
                    <div class="form-group row" style="padding-left: 33.6%">
                        <div data-role="rangeslider" style="width: 250px;">
                            <label for="price-min" class="col-form-label">Rating:&nbsp;&nbsp;</label>
                            <input type="range" name="price-min" id="price-min" value="0" min="0" max="5">
                            <input type="range" name="price-max" id="price-max" value="5" min="0" max="5">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-5 col-form-label" style="text-align: right">Title:</label>
                        <input type="text" id="title" name="title" class="form-control col-sm-7">
                    </div>
                    <div class="form-group row">
                        <label for="tag" class="col-sm-5 col-form-label" style="text-align: right">Tag:</label>
                        <input type="text" id="tag" name="tag" class="form-control col-sm-7">
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-8" style="padding-right: 0px;">
                            <input type="submit" value="Submit" class="form-control btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Team GG</h2>
                <h3>Chase Vedder, Michael Molina, Christine Pak</h3>
            </div>
        </div>
    </div>
</div>

  <script>

    var ctx = document.getElementById("avgChart").getContext('2d');
    var genres = ["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"];
    var avgChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: genres,
            datasets: [{
                label: 'Average Rating',
                data: [],
                backgroundColor: 
                    'rgba(0, 204, 255, 0.2)'
                ,
                borderColor: 
                    'rgba(0,153,204,1)'
                ,
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero:true,
                        max: 5
                    }
                }]
            }
        }
    });

    var ctx2 = document.getElementById("countChart").getContext('2d');
    var countChart = new Chart(ctx2, {
        type: 'horizontalBar',
        data: {
            labels: genres,
            datasets: [{
                label: 'Count',
                data: [],
                backgroundColor: 
                    'rgba(0, 204, 255, 0.2)'
                ,
                borderColor: 
                    'rgba(0,153,204,1)'
                ,
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero:true,
                        stepSize: 10
                    }
                }]
            }
        }
    });

    console.log(avgChart.data.datasets[0].data);
    var globalRes;


    $(document).ready(function() {
        $.ajax({
            url: '/averages',
            type: 'post',
            data: [],
            success: function(res) {
                globalRes = res;
                console.log(res);

                //Reset charts to zero
                for (var i = 0; i < genres.length; i++) {
                    avgChart.data.datasets[0].data[i] = 0;
                    countChart.data.datasets[0].data[i] = 0;
                }
                avgChart.update();
                countChart.update();
                res["avg"].forEach(function(el) {
                    avgChart.data.datasets[0].data[genres.indexOf(el.name)] = el.avg;
                });
                res["count"].forEach(function(el) {
                    countChart.data.datasets[0].data[genres.indexOf(el.name)] = el.count;
                });
                avgChart.update();
                countChart.update();
            }
        })
    });

    $('#controls').submit(function(e) {
        e.preventDefault();
        $.ajax({
            url: '/averages',
            type: 'post',
            data: $('#controls').serialize(),
            success: function(res) {
                globalRes = res;
                console.log(res);

                //Reset charts to zero
                for (var i = 0; i < genres.length; i++) {
                    avgChart.data.datasets[0].data[i] = 0;
                    countChart.data.datasets[0].data[i] = 0;
                }
                avgChart.update();
                countChart.update();
                res["avg"].forEach(function(el) {
                    avgChart.data.datasets[0].data[genres.indexOf(el.name)] = el.avg;
                });
                res["count"].forEach(function(el) {
                    countChart.data.datasets[0].data[genres.indexOf(el.name)] = el.count;
                });
                avgChart.update();
                countChart.update();
            }
        })
    });
  </script> 