<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></script>
</head>
<body style="background-color: #e6e6e6">

<div class="container-fluid" style="width: 1200px; height: 720px; background-color: #d9d9d9">
    <h1>CSE 412</h1>
    <div class="container-fluid" style="float: left; margin-bottom: 5px">
        <div class="row">
          <div class="col-md-6" style="background-color: #fff; border-right-style: solid; border-width: .7px; border-color: #d9d9d9">
            <canvas id="avgChart"></canvas>
          </div>
          <div class="col-md-6" style="background-color: #fff; border-left-style: solid; border-width: .7px; border-color: #d9d9d9">
            <canvas id="countChart"></canvas>
          </div>
        </div>
    </div>

    <div style="float: left;">
        <div class="row">
            <div class="col-md-4">
                <form method="post" action="/count" id="controls" style="min-width: 350px; max-width: 350px; text-align: right;">
                    <div class="row" style="float: right">
                        <label for="lower">Average Rating Lower:&nbsp;</label>
                        <input type="text" id="lower" name="lower" style="float: right">
                    </div>
                    <div class="row" style="float: right">
                        <label for="upper">Average Rating Upper:&nbsp;</label>
                        <input type="text" id="upper" name="upper" style="float: right">
                    </div>
                    <div class="row" style="float: right">
                        <label for="title">Title:&nbsp;</label>
                        <input type="text" id="title" name="title" style="float: right">
                    </div>
                    <div class="row" style="float: right">
                        <label for="tag">Tag:&nbsp;</label>
                        <input type="text" id="tag" name="tag" style="float: right">
                    </div>

                    <div class="row" style="float: right;">
                        <div class="col-md-4">
                            <input type="submit" value="Submit" style="float: right">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-8">
                <div style="float: right; margin-top: -5px">
                    <h2>Team GG</h2>
                    <h3>Chase Vedder, Michael Molina, Christine Pak</h3>
                </div>
            </div>

        </div>
    </div>
</div>

  <script>
    var ctx = document.getElementById("avgChart").getContext('2d');
    var genres = ["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"];
    var avgChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: genres,
            datasets: [{
                label: 'Average Rating',
                data: [],
                backgroundColor: 
                    'rgba(0, 204, 255, 0.2)'
                ,
                borderColor: 
                    'rgba(0,153,204,1)'
                ,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero:true,
                        max: 5
                    }
                }]
            }
        }
    });

    var ctx2 = document.getElementById("countChart").getContext('2d');
    var countChart = new Chart(ctx2, {
        type: 'horizontalBar',
        data: {
            labels: genres,
            datasets: [{
                label: 'Count',
                data: [],
                backgroundColor: 
                    'rgba(0, 204, 255, 0.2)'
                ,
                borderColor: 
                    'rgba(0,153,204,1)'
                ,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero:true,
                        stepSize: 10
                    }
                }]
            }
        }
    });

    console.log(avgChart.data.datasets[0].data);
    var globalRes;

    $('#controls').submit(function(e) {
        e.preventDefault();
        $.ajax({
            url: 'http://68.2.210.230:3000/averages',
            type: 'post',
            data: $('#controls').serialize(),
            success: function(res) {
                globalRes = res;
                console.log(res);

                //Reset charts to zero
                for (var i = 0; i < genres.length; i++) {
                    avgChart.data.datasets[0].data[i] = 0;
                    countChart.data.datasets[0].data[i] = 0;
                }
                avgChart.update();
                countChart.update();
                res["avg"].forEach(function(el) {
                    avgChart.data.datasets[0].data[genres.indexOf(el.name)] = el.avg;
                });
                res["count"].forEach(function(el) {
                    countChart.data.datasets[0].data[genres.indexOf(el.name)] = el.count;
                });
                avgChart.update();
                countChart.update();
            }
        })
    });
  </script>

</body>
</html>